<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/zarak/IdeaProjects/selenium-project">
        <classes>
            <class name="lesson15.ChromeRunnerTestNG">

            </class>
            <class name="lesson16.TestClassA">

            </class>
            <class name="lesson16.TestClassB">

            </class>
            <class name="lesson16.TestClassC">

            </class>

        </classes>
    </test>
</suite>